# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.Python
env/
venv/
.venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt

# Testing
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
htmlcov/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff
.ruff_cache/

# Distribution / packaging
MANIFEST

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Environment variables
.env
.env.*

# Project specific
~/.ofp-playground/
ofp-images/
ofp-videos/
